<div id="root">
    {% liquid
        render 'vite-tag' with 'theme.css'
        render 'vite-tag' with 'theme.jsx'
    %}
</div>

<script>
    const home = {{ request.path | json }}
        window.shopifyCustomer = {
            id:   "{{ customer.id}}",
            name: "{{ customer.name }}",
            email: "{{ customer.email }}"
        }
    window.shop = {
        name: "{{ shop.name }}",
        domain: "{{ shop.domain }}",
    }
    const productIdElements = document.querySelectorAll('input[name="product-id"]');
    let hasProductId = false;
    for (let i = 0; i < productIdElements.length; i++) {
        if (productIdElements[i].value === '11052470731070') {
            hasProductId = true;
            break;
        }
    }
    if (hasProductId) {
        console.log('Thẻ <input type="hidden" name="product-id" value="11052470731070"> tồn tại trong page');
        let quantityInput = document.querySelector('.product-form__quantity');
        if (quantityInput) {
            quantityInput.remove();
            console.log(`The element with the 'product-form__quantity' class has been removed.`);
        }
        const productFormElement = document.querySelector('.product-form');
        if (productFormElement) {
            productFormElement.remove();
            console.log('Element with the "product-form" class exists.');
        }
        const priceContainer = document.querySelector('.price__container');
        if (priceContainer) {
            priceContainer.remove();
            console.log('The element with the "price__container" class has been removed.');
        }
    }
</script>

<style>
    button[id='major-popup-button'] {
        position: fixed;
        bottom: 15px;
        right: 15px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid hsl(0, 100%, 50%);
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        z-index: 100;
        transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        background: url("{{ 'new-auction.png' | asset_img_url: '56x56' }}") no-repeat center
    }
    div[id='major-popup-parent'] {
        position: fixed;
        z-index: 100;
        display: none;
        overflow: auto;
        bottom: 110px;
        right: 15px;
        width: 98%;
        height: 85%;
        background: #efefef;
        border-radius: 5px;
        border: solid 1px black;
    }
    div[id='top-major-content'] {
        position: sticky;
        top: 0;
        height: 20%;
        width: 100%;
        background: rgb(18, 102, 195);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        z-index: 10
    }
    button[id='close-popup'] {
        position: relative;
        font-size: 20px;
        text-align: center;
        height: 32px;
        width: 32px;
        border: none;
        background: transparent;
        border-radius: 5px;
        color: aliceblue;
        cursor: pointer;
    }
    button[id='close-popup']:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }
    p[class='common-text'] {
        font-size: 15px;
        color: #efefef;
    }
    p[class='overflow-text'] {
        font-size: 15px;
        color: #efefef;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    div[id='major-content'] {
        height: 70%;
        display: flex;
        justify-content: center;
    }
    div[id='footer-major-content'] {
        position: sticky;
        bottom: 0;
        width: 100%;
        height: 10%;
        background-color: #ffffff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 10;
    }
    div[id='footer-banner'] {
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 70%;
    }
    div[id='main-content'] {
        position: relative;
        border-radius: 10px;
        background-color: #ffffff;
        min-height: 200px;
        max-height: 460px;
        width: 90%;
        margin-top: 10px;
        overflow: auto;
    }
    div[class='card-content'] {
        top: 30%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        width: 80%;
    }
    div.ant-list-pagination {
        text-align: center !important;
    }
    .ant-pagination {
        .ant-pagination-item  {
            a {
                cursor: pointer;
            }
        }
    }
    button[id='register-button'] {
        position: absolute;
        background-color: cornflowerblue;
        width: 100px;
        height:50px;
        border-radius: 7px;
        color:aliceblue;
        text-align:center;
        cursor: pointer;
        border: none;
    }
    button[id='close-popup'] {
        position: relative;
        font-size: 20px;
        text-align: center;
        height: 32px;
        width: 32px;
        border: none;
        background: transparent;
        border-radius: 5px;
        color: aliceblue;
        cursor: pointer;
    }
    button[id='close-popup']:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    div[class='popup-page '] {
        display: none;
    }
    div[class='popup-page active'] {
        display: block;
    }
</style>

{% schema %}
{
    "name": "Product auction",
    "target": "body",
    "settings": []
}
{% endschema %}

